# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*/.idea
account.txt
Bold360AI/app/local.properties
Bold360AI/app/.idea/gradle.xml
Bold360AI/app/.idea/modules.xml
Bold360AI/app/.idea/runConfigurations.xml
Bold360AI/app/.idea/vcs.xml
Bold360AI/app/.idea/caches/build_file_checksums.ser
Bold360AI/app/.idea/libraries/Gradle____local_aars____Users_obenoved_Documents_repository_bold360ai_android_chatintegration_libs_java_websocket_jar_unspecified_jar.xml
Bold360AI/app/.idea/libraries/Gradle____local_aars____Users_obenoved_Library_Android_sdk_build_tools_27_0_3_renderscript_lib_renderscript_v8_jar_unspecified_jar.xml
Bold360AI/app/.idea/libraries/Gradle__android_android_26.xml
Bold360AI/app/.idea/libraries/Gradle__android_arch_core_common_1_1_0_jar.xml
Bold360AI/app/.idea/libraries/Gradle__android_arch_core_runtime_1_1_0.xml
Bold360AI/app/.idea/libraries/Gradle__android_arch_lifecycle_common_1_1_0_jar.xml
Bold360AI/app/.idea/libraries/Gradle__android_arch_lifecycle_livedata_core_1_1_0.xml
Bold360AI/app/.idea/libraries/Gradle__android_arch_lifecycle_runtime_1_1_0.xml
Bold360AI/app/.idea/libraries/Gradle__android_arch_lifecycle_viewmodel_1_1_0.xml
Bold360AI/app/.idea/libraries/Gradle__com_android_support_animated_vector_drawable_27_1_1.xml
Bold360AI/app/.idea/libraries/Gradle__com_android_support_appcompat_v7_27_1_1.xml
Bold360AI/app/.idea/libraries/Gradle__com_android_support_cardview_v7_27_1_1.xml
Bold360AI/app/.idea/libraries/Gradle__com_android_support_constraint_constraint_layout_1_1_3.xml
Bold360AI/app/.idea/libraries/Gradle__com_android_support_constraint_constraint_layout_solver_1_1_3_jar.xml
Bold360AI/app/.idea/libraries/Gradle__com_android_support_design_27_1_1.xml
Bold360AI/app/.idea/libraries/Gradle__com_android_support_multidex_1_0_2.xml
Bold360AI/app/.idea/libraries/Gradle__com_android_support_multidex_instrumentation_1_0_2.xml
Bold360AI/app/.idea/libraries/Gradle__com_android_support_recyclerview_v7_27_1_1.xml
Bold360AI/app/.idea/libraries/Gradle__com_android_support_support_annotations_27_1_1_jar.xml
Bold360AI/app/.idea/libraries/Gradle__com_android_support_support_compat_27_1_1.xml
Bold360AI/app/.idea/libraries/Gradle__com_android_support_support_core_ui_27_1_1.xml
Bold360AI/app/.idea/libraries/Gradle__com_android_support_support_core_utils_27_1_1.xml
Bold360AI/app/.idea/libraries/Gradle__com_android_support_support_fragment_27_1_1.xml
Bold360AI/app/.idea/libraries/Gradle__com_android_support_support_media_compat_27_1_1.xml
Bold360AI/app/.idea/libraries/Gradle__com_android_support_support_v4_27_1_1.xml
Bold360AI/app/.idea/libraries/Gradle__com_android_support_support_vector_drawable_27_1_1.xml
Bold360AI/app/.idea/libraries/Gradle__com_android_support_test_espresso_espresso_core_2_2_2.xml
Bold360AI/app/.idea/libraries/Gradle__com_android_support_test_espresso_espresso_core_3_0_1.xml
Bold360AI/app/.idea/libraries/Gradle__com_android_support_test_espresso_espresso_idling_resource_2_2_2.xml
Bold360AI/app/.idea/libraries/Gradle__com_android_support_test_espresso_espresso_idling_resource_3_0_1.xml
Bold360AI/app/.idea/libraries/Gradle__com_android_support_test_exposed_instrumentation_api_publish_0_5.xml
Bold360AI/app/.idea/libraries/Gradle__com_android_support_test_rules_0_5.xml
Bold360AI/app/.idea/libraries/Gradle__com_android_support_test_rules_1_0_1.xml
Bold360AI/app/.idea/libraries/Gradle__com_android_support_test_runner_0_5.xml
Bold360AI/app/.idea/libraries/Gradle__com_android_support_test_runner_1_0_1.xml
Bold360AI/app/.idea/libraries/Gradle__com_android_support_transition_27_1_1.xml
Bold360AI/app/.idea/libraries/Gradle__com_google_code_findbugs_jsr305_2_0_1_jar.xml
Bold360AI/app/.idea/libraries/Gradle__com_google_code_gson_gson_2_8_0_jar.xml
Bold360AI/app/.idea/libraries/Gradle__com_makeramen_roundedimageview_2_3_0.xml
Bold360AI/app/.idea/libraries/Gradle__com_squareup_javawriter_2_1_1_jar.xml
Bold360AI/app/.idea/libraries/Gradle__javax_annotation_javax_annotation_api_1_2_jar.xml
Bold360AI/app/.idea/libraries/Gradle__javax_inject_javax_inject_1_jar.xml
Bold360AI/app/.idea/libraries/Gradle__junit_junit_4_12_jar.xml
Bold360AI/app/.idea/libraries/Gradle__net_sf_kxml_kxml2_2_3_0_jar.xml
Bold360AI/app/.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3_jar.xml
Bold360AI/app/.idea/libraries/Gradle__org_hamcrest_hamcrest_integration_1_3_jar.xml
Bold360AI/app/.idea/libraries/Gradle__org_hamcrest_hamcrest_library_1_3_jar.xml
Bold360AI/app/.idea/libraries/Gradle__org_jetbrains_anko_anko_commons_0_10_3_jar.xml
Bold360AI/app/.idea/libraries/Gradle__org_jetbrains_annotations_13_0_jar.xml
Bold360AI/app/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_android_extensions_runtime_1_2_61_jar.xml
Bold360AI/app/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_1_2_61_jar.xml
Bold360AI/app/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_common_1_2_61_jar.xml
Bold360AI/app/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_2_61_jar.xml
Bold360AI/app/.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_android_0_22_5_jar.xml
Bold360AI/app/.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_core_0_22_5_jar.xml
